.button {
  // TODO: CSS Variables

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1em;
  padding: 0.5em;
  transition: {
    property: min-width, width, min-height, height, opacity, filter,
      background-color, color, border-radius, box-shadow;
    duration: 0.25s;
    timing-function: ease-in-out;
  }

  // Ghost buttons should make their border visible rather than their background.
  // Text buttons should not display a border.
  &.variant-fill {
    border: none;
  }
  &.variant-ghost {
    background: none;
    border: 2px solid;
    padding: calc(0.5em - 2px);
  }
  &.variant-text {
    background: none;
    border: none;
  }

  // TODO: Create a mixin.
  // Elevated buttons should have a shadow.
  &.elevated {
    box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  }

  // Sizes of button.
  &.size-auto {
    min-width: 0%;
  }
  &.size-half {
    min-width: 50%;
  }
  &.size-full {
    min-width: 100%;
  }

  // TODO: Create a mixin?
  // Shapes of button.
  &.shape-rectangle {
    border: {
      radius: 0px;
    }
  }
  &.shape-rounded {
    border: {
      radius: 4px;
    }
  }
  &.shape-pill {
    border: {
      radius: 2em;
    }
  }
  &.shape-circle {
    width: 2em;
    height: 2em;
    border: {
      radius: 2em;
    }
  }

  // TODO: Create a mixin.
  // Pseudo-states of button.
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    filter: brightness(90%);
  }
}
