.button {
  padding: 0.5rem 1rem;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(235, 235, 235), rgb(219, 242, 243));
  color: black;
  font-size: 1.1em;
}
