.primary {
  background-color: var(--color-fill-primary);
  color: var(--color-stroke-primary);
}
.secondary {
  background-color: var(--color-fill-secondary);
  color: var(--color-stroke-secondary);
}

.normal {
  background-color: var(--color-fill-normal);
  color: var(--color-stroke-normal);
}
.notify {
  background-color: var(--color-notify);
  color: var(--color-notify-dark);
}
.info {
  background-color: var(--color-info);
  color: var(--color-info-dark);
}
.warning {
  background-color: var(--color-warning);
  color: var(--color-warning-dark);
}
.danger {
  background-color: var(--color-danger);
  color: var(--color-danger-dark);
}
.muted {
  background-color: var(--color-muted);
  color: var(--color-muted-dark);
}
