.primary,
.primary-light,
.primary-dark {
  background-color: var(--color-fill-primary);
}
.secondary,
.secondary-light,
.secondary-dark {
  background-color: var(--color-fill-secondary);
}

.normal,
.normal-light,
.normal-dark {
  background-color: var(--color-fill-normal);
}

.notify {
  background-color: var(--color-notify);
}
.notify-light {
  background-color: var(--color-notify-light);
}
.notify-dark {
  background-color: var(--color-notify-dark);
}

.info {
  background-color: var(--color-info);
}
.info-light {
  background-color: var(--color-info-light);
}
.info-dark {
  background-color: var(--color-info-dark);
}

.warning {
  background-color: var(--color-warning);
}
.warning-light {
  background-color: var(--color-warning-light);
}
.warning-dark {
  background-color: var(--color-warning-dark);
}

.danger {
  background-color: var(--color-danger);
}
.danger-light {
  background-color: var(--color-danger-light);
}
.danger-dark {
  background-color: var(--color-danger-dark);
}

.muted {
  background-color: var(--color-muted);
}
.muted-light {
  background-color: var(--color-muted-light);
}
.muted-dark {
  background-color: var(--color-muted-dark);
}
